<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="portable46-net451+win81+wpa81" />
</packages>